.head {
	width: 100%;
	background-color: #8DB6CD;
	padding: 5px;
	text-align: center;
}

#body {
	position: absolute;
	left: 40%;
}

span {
	color: red;
}

h1 {
	text-align: center
}

.table1 {
	border: 1px solid
}

#div {
	text-align: right
}

.btn1 {
	margin-right: 10px;
	background-color: #FFC;
	float: right
}

th {
	background-color: #09C;
	font-size: 20px;
	width: 160px;
	font-weight: 800
}

form {
	text-align: right
}

.sel {
	background-color: #09C;
	font-size: 20px;
	width: 160px;
	font-weight: 800
}

option {

}

.table2 {
	margin-left: 15%;
	margin-right: 15%;
	width: 80%;
	border-spacing: 10px;
}

tr {
	vertical-align: top;
	text-align: left;
}

input {
	border: 2px solid black;
	align: center;
}

#logout {
	width: 120px;
	float: right;
	background-color: #ffeecc;
	color: blue;
	border: 0px;
}

.back {
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #1580B6;
	color: white;
	border: 3px solid #02366F;
}

#menu {
	border-collapse: separate;
	border-spacing: 5px;
}

#menu td {
	padding: 5px;
}

#menu input {
	width: 250px;
	height: 100px;
	background-color: #8DB6CD;
}