/********************/
.bg-primary{
	text-align:center;
}

.table-top{
	text-align:center;
	vertical-align:middle;
	font-size:20px;
}

.importButton{
	text-align:right;
}

.form-group
{
display:inline;
margin-top: 30px;
}
.row{
text-align:right;
margin-top:30px;
margin-bottom:30px;
margin-right:20px;
}
#div
{
text-align:left; margin-height:50px;width:400px;float:left;
}
.export
{
text-align:right ;margin-height:50px;width:820px;margin-right:0px;float:left;
}