<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
    <script src="./assets/admin/js/app.js"></script>
    <script src="./assets/admin/js/jquery-plugins.js"></script>
    <script src="https://kit.fontawesome.com/b0a875bb13.js" crossorigin="anonymous"></script>

    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="./assets/admin/css/app.css" rel="stylesheet">
</head>
<body>
<div class="main-footer" th:fragment="footer">
    <strong>Copyright &copy; 2019-2020 <a href="#">hti.com</a>.</strong> All rights reserved.
</div>
</body>
</html>