<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.demo.mapper.EmpInfoMapper">

	<!-- リスト2画面初期値 -->

	<!-- for export -->
	<select id="getEmpInfo"
		resultType="com.company.demo.bean.EmpInfo">

		SELECT * FROM t_empinfo

	</select>
	<!-- getEmpInfoByEmpCd -->
	<select id="searchEmpList"
		resultType="com.company.demo.bean.EmpInfo">
		SELECT * FROM t_empinfo
	</select>
	<select id="search_empCd"
		resultType="com.company.demo.bean.EmpInfo">
		SELECT * FROM t_empinfo
		<if test="keyword != null and keyword != ''">
			WHERE
			CONCAT(t_empinfo.empCd,t_empinfo.nameKanji,t_empinfo.nameKana)
			LIKE
			"%" #{keyword} "%"
		</if>
	</select>

	<delete id="delete">
		DELETE FROM t_empinfo WHERE
		empCd= #{empCd}
	</delete>

	<!-- getEmpInfoByEmpCd -->
	<select id="getEmpInfoByEmpCd" parameterType="String"
		resultType="com.company.demo.bean.EmpInfo">
		SELECT
		*
		FROM
		t_empinfo
		WHERE empCd=#{empCd}
	</select>

	<!-- add -->
	<insert id="add">
		INSERT INTO
		t_empinfo
		(empCd,email,companyEmail,nameKanji,nameKana,
		sex,birthday,country,postcode,address,
		telNo,homeStation,enteringDate,dimissionDate,company,
		employeeType,comment)

		VALUES
		(#{empCd},#{email},#{companyEmail},#{nameKanji},#{nameKana},
		#{sex},#{birthday},#{country},#{postcode},#{address},
		#{telNo},#{homeStation},#{enteringDate},#{dimissionDate},#{company},
		#{employeeType},#{comment})
	</insert>

	<insert id="addEngineerList">
		INSERT INTO
		t_engineerlist (empCd)
		VALUES (#{empCd})
	</insert>

	<insert id="addHumanResource">
		INSERT INTO
		t_humanresource (empCd)
		VALUES (#{empCd})
	</insert>

	<insert id="addRetirementPayAndHealthInsurance">
		INSERT INTO
		t_retirementpayandhealthinsurance (empCd)
		VALUES (#{empCd})
	</insert>

	<insert id="addWorkingStatus">
		INSERT INTO
		t_workingstatus (empCd)
		VALUES (#{empCd})
	</insert>

	<insert id="addWorkInsurance">
		INSERT INTO
		t_workinsurance (empCd)
		VALUES (#{empCd})
	</insert>















	<update id="update"
		parameterType="com.company.demo.bean.EmpInfo">
		UPDATE t_empinfo SET
		email=#{email},companyEmail=#{companyEmail},nameKanji=#{nameKanji},nameKana=#{nameKana},
		sex=#{sex},birthday=#{birthday},country=#{country},postcode=#{postcode},address=#{address},
		telNo=#{telNo},homeStation=#{homeStation},enteringDate=#{enteringDate},dimissionDate=#{dimissionDate},company=#{company},
		employeeType=#{employeeType},comment=#{comment}
		WHERE empCd = #{empCd}
	</update>
	<!-- <select id="getSex" resultType="com.softusing.company.bean.Code"> SELECT
		codeValue,content1 FROM m_code WHERE codeValue LIKE '10%' ORDER BY codeValue
		</select> <select id="getKokuseki" resultType="com.softusing.company.bean.Code">
		SELECT codeValue,content1 FROM m_code WHERE codeValue LIKE '14%' ORDER BY
		codeValue </select> <select id="getGakureki" resultType="com.softusing.company.bean.Code">
		SELECT codeValue,content1 FROM m_code WHERE codeValue LIKE '15%' ORDER BY
		codeValue </select> <select id="getSenko" resultType="com.softusing.company.bean.Code">
		SELECT codeValue,content1 FROM m_code WHERE codeValue LIKE '16%' ORDER BY
		codeValue </select> <select id="getYakuwari" resultType="com.softusing.company.bean.Code">
		SELECT codeValue,content1 FROM m_code WHERE codeValue LIKE '90%' ORDER BY
		codeValue </select> <select id="getBuCd" resultType="com.softusing.company.bean.Depbu">
		SELECT buCd,formalName FROM m_depbu ORDER BY buCd </select> <select id="getKaCd"
		resultType="com.softusing.company.bean.Depka"> SELECT buCd,kaCd,formalName
		FROM m_depka WHERE buCd =#{buCd} </select> -->
</mapper>








