<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.demo.mapper.EngineerListMapper">
		<!-- <select id="getRetirementPayAndHealthInsurance"
		resultType="com.company.demo.bean.EngineerList">
		SELECT * FROM  t_engineerList
	</select>
 -->
	<select id="searchEngineerListList" resultType ="com.company.demo.bean.EngineerList">
       SELECT t_engineerList.*,t_empinfo.nameKanji,t_empinfo.sex,t_empinfo.homeStation  FROM
       t_engineerList left join t_empinfo on t_engineerList.empCd = t_empinfo.empCd
    </select>
    <select id="search_empCd1" resultType ="com.company.demo.bean.EngineerList">
       SELECT t_engineerList.*,t_empinfo.nameKanji,t_empinfo.sex,t_empinfo.homeStation  FROM
       t_engineerList left join t_empinfo on t_engineerList.empCd = t_empinfo.empCd
       </select>
	<select id="search_empCd" resultType ="com.company.demo.bean.EngineerList">
       SELECT t_engineerList.*,t_empinfo.nameKanji,t_empinfo.sex,t_empinfo.homeStation  FROM
       t_engineerList left join t_empinfo on t_engineerList.empCd = t_empinfo.empCd
      <if test="keyword != null and keyword != ''">
			WHERE CONCAT(t_engineerList.empCd,t_empinfo.nameKanji,t_empinfo.sex) LIKE CONCAT('%',#{keyword},'%')
	  </if>
	   <if test="month != null and month != ''">
		WHERE workingDate LIKE CONCAT('%', #{month},'___')
		</if>
    </select>
    <update id="engineerList_delete">
	    UPDATE t_engineerList SET
	    workingDate=NULL,experience=NULL,japanese=NULL,techlanguage=NULL,
		basicDesign=NULL,detailDesign=NULL,produce=NULL,test=NULL,
		project=NULL,level=NULL,newEmployee=NULL,engineerListComment=NULL
	    WHERE empCd = #{empCd}
    </update>
	<select id="getEngineerListByEmpCd" parameterType="String"
		resultType="com.company.demo.bean.EngineerList">
		SELECT t_engineerList.*,t_empinfo.nameKanji,t_empinfo.sex,t_empinfo.homeStation FROM
		t_engineerList left join t_empinfo on t_engineerList.empCd = t_empinfo.empCd
		WHERE t_engineerList.empCd=#{empCd}
	</select>
	<update id="engineerList_update" parameterType="com.company.demo.bean.EngineerList">
	    UPDATE t_engineerList SET
	    workingDate=#{workingDate},experience=#{experience},japanese=#{japanese},techlanguage=#{techlanguage},
		basicDesign=#{basicDesign},detailDesign=#{detailDesign},produce=#{produce},test=#{test},
		project=#{project},level=#{level},newEmployee=#{newEmployee},engineerListComment=#{engineerListComment}

	    WHERE empCd = #{empCd}
    </update>
    <insert id="Engineer_import" >
	   INSERT INTO t_engineerList (empCd,nameKanji,sex,homeStation,workingDate,experience,japanese,techlanguage,basicDesign, detailDesign,
	   produce,test,project,level,newEmployee,engineerListComment)
        VALUES(#{empCd},#{nameKanji},#{sex},#{homeStation},#{workingDate},
		#{experience},#{japanese},#{techlanguage},#{basicDesign},#{detailDesign},
		#{produce},#{test},#{project},#{level},#{newEmployee},#{engineerListComment});

</insert>

</mapper>