<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.demo.mapper.HumanResourceMapper">


	<!-- リスト2画面初期値 -->

	<!-- for export -->
	<select id="getHumanResource"
		resultType="com.company.demo.bean.HumanResource">
		 <!-- SELECT * FROM t_humanresource left join t_empinfo on t_humanresource.empCd = t_empinfo.empCd
		 WHERE t_humanresource.empCd=#{empCd}
 -->
	SELECT * FROM t_humanresource

	</select>





	<!-- リスト画面検索機能 -->

	<select id="searchHumanResourceList" resultType ="com.company.demo.bean.HumanResource">
       SELECT t_humanresource.*,t_empinfo.nameKanji,t_empinfo.nameKana,t_empinfo.sex
       ,t_empinfo.birthday,t_empinfo.employeeType,t_empinfo.postcode,t_empinfo.address
       ,t_empinfo.telNo,t_empinfo.email,t_empinfo.companyEmail,t_empinfo.enteringDate,t_empinfo.dimissionDate
       ,t_empinfo.homeStation FROM
       t_humanresource left join t_empinfo on t_humanresource.empCd = t_empinfo.empCd
    </select>
		<select id="search_empCd" resultType ="com.company.demo.bean.HumanResource">
       SELECT t_humanresource.*,t_empinfo.nameKanji,t_empinfo.nameKana,t_empinfo.sex
       ,t_empinfo.birthday,t_empinfo.employeeType,t_empinfo.postcode,t_empinfo.address
       ,t_empinfo.telNo,t_empinfo.email,t_empinfo.companyEmail,t_empinfo.enteringDate,t_empinfo.dimissionDate
       ,t_empinfo.homeStation FROM
       t_humanresource left join t_empinfo on t_humanresource.empCd = t_empinfo.empCd
      <if test="keyword != null and keyword != ''">
			WHERE CONCAT(t_humanresource.empCd,t_empinfo.nameKanji) LIKE  CONCAT('%',#{keyword},'%')
	  </if>
	  </select>

	  <select id="getHumanResourceByEmpCd" parameterType="String"
		resultType="com.company.demo.bean.HumanResource">
		SELECT t_humanresource.*,t_empinfo.nameKanji,t_empinfo.nameKana,t_empinfo.sex
        ,t_empinfo.birthday,t_empinfo.employeeType,t_empinfo.postcode,t_empinfo.address
        ,t_empinfo.telNo,t_empinfo.email,t_empinfo.companyEmail,t_empinfo.enteringDate,t_empinfo.dimissionDate
        ,t_empinfo.homeStation FROM
        t_humanresource left join t_empinfo on t_humanresource.empCd = t_empinfo.empCd
		WHERE t_humanresource.empCd=#{empCd}
	</select>


	<!-- リスト画面削除機能 -->
    <update id="HumanResource_delete">
	    UPDATE t_humanresource SET
	    basicSalary=NULL,salaryTimes=NULL,insuranceLine=NULL,healthInsurance=NULL,
		retirementPay=NULL,diseaseInturance=NULL,humanResourceComment=NULL
	    WHERE empCd = #{empCd}
    </update>






	<!-- 変更 -->
	<update id="HumanResource_update" parameterType="com.company.demo.bean.HumanResource">
	    UPDATE t_humanresource SET
	    basicSalary=#{basicSalary},salaryTimes=#{salaryTimes},insuranceLine=#{insuranceLine},healthInsurance=#{healthInsurance},
		retirementPay=#{retirementPay},diseaseInturance=#{diseaseInturance},humanResourceComment=#{humanResourceComment}
	    WHERE empCd = #{empCd}
    </update>

    <!-- 新規登録(Empinfoあり) -->
	<insert id="add">
		INSERT INTO
		 t_humanresource
		(empCd,basicSalary,salaryTimes,insuranceLine,healthInsurance,retirementPay,diseaseInturance,
		humanResourceComment,delFlg,insDate,insEmpCode,updDate,updEmpCode)
		VALUES
		(#{empCd},#{basicSalary},#{salaryTimes},#{insuranceLine},#{healthInsurance},#{retirementPay},
		#{diseaseInturance},#{humanResourceComment},#{delFlg},
		#{insDate},#{insEmpCode},#{updDate},#{updEmpCode});
	</insert>
</mapper>