<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.company.demo.mapper.RetirementPayAndHealthInsuranceMapper">

	<!-- リスト画面初期値 -->
	<select id="getRetirementPayAndHealthInsurance"
		resultType="com.company.demo.bean.RetirementPayAndHealthInsurance">
		SELECT * FROM t_retirementpayandhealthinsurance
	</select>

	<!-- リスト画面検索機能 -->
	<select id="search_empCd"
		resultType="com.company.demo.bean.RetirementPayAndHealthInsurance">
		SELECT * FROM t_retirementpayandhealthinsurance
		<if test="keyword != null and keyword != ''">
			WHERE empCd  LIKE CONCAT('%',#{keyword},'%')
		</if>
	</select>

	<select id="getRetirementPayAndHealthInsuranceByEmpCd"
		resultType="com.company.demo.bean.RetirementPayAndHealthInsurance">
		SELECT * FROM t_retirementpayandhealthinsurance
			WHERE empCd = #{empCd}
	</select>


	<!-- リスト画面削除機能 -->
	<update id="delete">
		UPDATE t_retirementpayandhealthinsurance
		SET
		state=null,insuranceLine=null,applicationDate=null,startingDate=null,
		quitDate=null,InturanceNote=null,HealthInsurance=null,retirementPayAndHealthInsuranceComment=null
		WHERE empCd = #{empCd}
	</update>

	<!-- 変更 -->
	<update id="update">
		UPDATE t_retirementpayandhealthinsurance
		SET
		state=#{state},insuranceLine=#{insuranceLine},applicationDate=#{applicationDate},startingDate=#{startingDate},
		quitDate=#{quitDate},InturanceNote=#{InturanceNote},HealthInsurance=#{HealthInsurance},retirementPayAndHealthInsuranceComment=#{retirementPayAndHealthInsuranceComment}
		WHERE empCd = #{empCd}
	</update>

	<!-- 新規登録(Empinfoあり) -->
	<insert id="add">
		INSERT INTO
		 t_retirementpayandhealthinsurance
		(empCd,State,insuranceLine,applicationDate,startingDate,quitDate,InturanceNote,
		HealthInsurance,retirementPayAndHealthInsuranceComment,delFlg,insDate,insEmpCode,updDate,updEmpCode)
		VALUES
		(#{empCd},#{state},#{insuranceLine},#{applicationDate},#{startingDate},
		#{quitDate},#{InturanceNote},#{HealthInsurance},#{retirementPayAndHealthInsuranceComment},#{delFlg},
		#{insDate},#{insEmpCode},#{updDate},#{updEmpCode});
	</insert>
</mapper>








