<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.demo.mapper.WorkInsuranceMapper">
	<!-- getEmpInfoByEmpCd -->
	<select id="searchWorkInsuranceList" resultType ="com.company.demo.bean.WorkInsurance">
       SELECT t_workinsurance.*,t_empinfo.nameKanji,t_empinfo.nameKana FROM
       t_workinsurance left join t_empinfo on t_workinsurance.empCd = t_empinfo.empCd
    </select>
	<select id="search_empCd" resultType ="com.company.demo.bean.WorkInsurance">
       SELECT t_workinsurance.*,t_empinfo.nameKanji,t_empinfo.nameKana FROM
       t_workinsurance left join t_empinfo on t_workinsurance.empCd = t_empinfo.empCd
      <if test="keyword != null and keyword != ''">
		WHERE CONCAT(t_empinfo.empCd,t_empinfo.nameKanji,t_empinfo.nameKana)
		LIKE "%" #{keyword} "%"
	  </if>
    </select>
    <update id="WorkInsurance_delete">
	    UPDATE t_workinsurance SET
	    workInsuranceState=NULL,Salary=NULL,applicationDate=NULL,startingDate=NULL,
		quitDate=NULL,workInsuranceNo=NULL,reason=NULL,workInsuranceComment=NULL
	    WHERE empCd = #{empCd}
    </update>
	<select id="getWorkInsuranceByEmpCd" parameterType="String"
		resultType="com.company.demo.bean.WorkInsurance">
		SELECT t_workinsurance.*,t_empinfo.nameKanji,t_empinfo.nameKana FROM
		t_workinsurance left join t_empinfo on t_workinsurance.empCd = t_empinfo.empCd
		WHERE t_workinsurance.empCd=#{empCd}
	</select>

<!-- 	<select id="importWorkInsurance" parameterType="String"
		resultType="int">
		INSERT INTO
		 t_workinsurance
		(empCd,nameKanji,nameKana,workInsuranceState,Salary,applicationDate,startingDate,quitDate,
		workInsuranceNo,reason,workInsuranceComment)
		VALUES
		(#{empCd},#{nameKanji},#{nameKana},#{workInsuranceState},#{Salary},#{applicationDate},#{startingDate},#{quitDate},
		#{workInsuranceNo},#{reason},#{workInsuranceComment})
	</select> -->

	<update id="WorkInsurance_update" parameterType="com.company.demo.bean.WorkInsurance">
	    UPDATE t_workinsurance SET
	    workInsuranceState=#{workInsuranceState},Salary=#{Salary},applicationDate=#{applicationDate},startingDate=#{startingDate},
		quitDate=#{quitDate},workInsuranceNo=#{workInsuranceNo},reason=#{reason},workInsuranceComment=#{workInsuranceComment}
	    WHERE empCd = #{empCd}
    </update>

	<update id="WorkInsurance_import" parameterType="com.company.demo.bean.WorkInsurance">
	    UPDATE t_workinsurance SET
	    workInsuranceState=#{workInsuranceState},Salary=#{Salary},applicationDate=#{applicationDate},startingDate=#{startingDate},
		quitDate=#{quitDate},workInsuranceNo=#{workInsuranceNo},reason=#{reason},workInsuranceComment=#{workInsuranceComment}
	    WHERE empCd = #{empCd}
    </update>
     <!-- 新規登録(Empinfoあり) -->
     <insert id="add">
		INSERT INTO
		t_workinsurance
    (empCd,NameKanji,NameKana,WorkInsuranceState,Salary,ApplicationDate,StartingDate,QuitDate,WorkInsuranceNo,Reason,WorkInsuranceComment)
    VALUES
  	   (#{empCd},#{NameKanji},#{NameKana},#{WorkInsuranceState},#{Salary},
		#{ApplicationDate},#{StartingDate},#{QuitDate},#{WorkInsuranceNo},#{Reason},
		#{WorkInsuranceComment});
		</insert>

</mapper>
