<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.AdminMapper">
	<select id="searchAdminList"
		resultType="com.example.demo.bean.Admin">
		SELECT * FROM tbl_admin
		order by admin_id asc
	</select>

	<update id="Admin_delete">

		delete from tbl_admin WHERE admin_id = #{admin_id}
	</update>

	<select id="Admin_search"
		resultType="com.example.demo.bean.Admin">
		SELECT admin_id,admin_name,admin_email_address,admin_password
		FROM
		tbl_admin
		<choose>
			<when test="keyword != null and keyword != ''">
				WHERE admin_name LIKE '%${keyword}%' ORDER BY admin_id ASC
			</when>
			<otherwise>
				ORDER BY admin_id ASC
			</otherwise>
		</choose>

	</select>
	<select id="Admin_searchbyadmin_id"
		resultType="com.example.demo.bean.Admin">
		SELECT
		*
		FROM
		tbl_admin
		WHERE admin_id= #{admin_id}
	</select>
	<update id="Admin_update"
		parameterType="com.example.demo.bean.Admin">
		UPDATE tbl_admin SET
		admin_id=#{admin_id},admin_name=#{admin_name},admin_email_address=#{admin_email_address},admin_password=#{admin_password}
		WHERE admin_id = #{admin_id}
	</update>
	<insert id="Admin_insert">
		insert into
		tbl_admin(admin_id,admin_name,admin_email_address,admin_password)
		values
		(#{admin_id},#{admin_name},#{admin_email_address},#{admin_password})

	</insert>

</mapper>