<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ProductMapper">

<!-- getallpage -->
	<select id="searchProductList"
		resultType="com.example.demo.bean.Product">
		SELECT * FROM TBL_PRODUCT ORDER BY product_id ASC
	</select>
	<select id="searchProduct"
		resultType="com.example.demo.bean.Product">
		SELECT
		<!-- PRODUCT_ID,PRODUCT_NAME,PRODUCT_CODE,CATEGORY_ID,MANUFACTURE_ID,PRODUCT_PRICE,PRODUCT_QUANTITY,PRODUCT_DESCRIPTION,PUBLICATION_STATUS
		FROM TBL_PRODUCT ORDER BY product_id ASC -->
		* FROM TBL_PRODUCT
		<if test="keyword != null and keyword != ''">
			WHERE product_name LIKE '%${keyword}%'
		</if>
		ORDER BY product_id ASC

	</select>

	<select id="searchProductInfoByID" parameterType="String"
		resultType="com.example.demo.bean.Product">
		SELECT
		*
		FROM
		TBL_PRODUCT
		WHERE product_id=#{product_id}
	</select>

	<delete id="deleteProduct">
		DELETE FROM TBL_PRODUCT WHERE product_ID=
		#{product_id}
	</delete>

	<!-- <update id="updateProduct"
		parameterType="com.softusing.demo.bean.Product">
		UPDATE TBL_PRODUCT SET
		product_id=#{product_id},product_name=#{product_name},category_id=#{category_id},manufacture_id=#{manufacture_id},product_price=#{product_price},
		product_quantity=#{product_quantity},product_description=#{product_description},publication_status=#{publication_status}
		WHERE product_ID =
		#{product_id}
	</update>
 -->

	<update id="product_update"
		parameterType="com.example.demo.bean.Product">
		UPDATE TBL_PRODUCT SET
		product_id=#{product_id},product_name=#{product_name},category_id=#{category_id},manufacture_id=#{manufacture_id},product_price=#{product_price},
		product_quantity=#{product_quantity},product_description=#{product_description},publication_status=#{publication_status},product_imagefile=#{product_imagefile}
		WHERE product_ID =
		#{product_id}
	</update>




	<insert id="insertProduct">
		insert into
		TBL_PRODUCT(PRODUCT_ID,PRODUCT_NAME,PRODUCT_CODE,CATEGORY_ID,MANUFACTURE_ID,PRODUCT_PRICE,PRODUCT_QUANTITY,PRODUCT_DESCRIPTION,PUBLICATION_STATUS,PRODUCT_IMAGEFILE)
		values
		(#{product_id},#{product_name},#{product_code},#{category_id},#{manufacture_id},#{product_price},#{product_quantity},#{product_description},#{publication_status},#{product_imagefile})

	</insert>


</mapper>