<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>ECサイト管理</title>

<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="bg-primary" align="center">
			<h1>ECサイト管理システム</h1>
		</div>
		<!-- <h1 class="bg-primary" align="center" th:text="#{title}">社内管理システム</h1> -->
		<div id="body" align="center">

			<form method="post" action="/login" th:object="${loginform}">

				<table>
					<tr>
						<td><label class="marker">ユーザ ID </label></td>
					</tr>
					<tr>
						<td><input class="btn btn-primary" type="text"
							placeholder="メールアドレスを入力してください" name="admin_email_address"
							value="" size="40" th:field="*{admin_email_address}"
							onkeydown="eraseInfo();"></td>
					</tr>

					<tr>
						<td></td>
					</tr>
					<tr>
						<td><label class="marker">パスワード </label></td>
					</tr>
					<tr>
						<td><input class="btn btn-primary" type="password"
							name="admin_password" value="" size="40"
							th:field="*{admin_password}" maxlength="6"
							onkeydown="eraseInfo();"></td>
					</tr>

					<div class="text-right">

						<tr th:inline="text" th:each="message : ${errorList}">
							<td><font color="red">[[${message.defaultMessage}]]</font></td>
						</tr>
						<tr>
							<td th:text="${message}" style="color: red;"></td>
						</tr>
					</div>
				</table>
				<br>
				<br>
				<table>
					  
					<input type="submit" class="loginbth" id="login" value="ログイン">

				</table>
			</form>
		</div>
	</div>
</body>
</html>