<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--user-scalable=yes -->
<meta name="renderer" content="webkit|ie-Comp|ie-stand">
<!-- いろいろIEブラウザの応対 -->
<meta name="description" content="ソフトユージング社員システム">
<!-- このページの内容 -->
<meta name="keywords" content="ソフトユージング,IT">
<!-- 検索する時のキーワード -->

<!-- localCss-->
<link rel="stylesheet" type="text/css" href="../css/menu.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<title>ECサイト管理システム</title>
</head>
<body>
	<div class="jumbotron text-center">
		<img src="img/logo.png" width="150" height="110" id="logo"><br>
		<p>SOFTUSING</p>
		<h2 class="text-dark">ECサイト管理システム</h2>
		<h4 class="text-dark">メニュー欄</h4>
	</div>
	<div sec:authorize="!isAuthenticated()">

	</div>

	<div sec:authorize="isAuthenticated()" align="right">

		<p th:text="${session.userName}+'さんようこそ！'"></p >
		<form th:action="login" method="GET">
			<input type="submit" value="ログアウト" />
		</form>
	</div>

	<div class="container-fluid">
		<div class="row" align="center">
			<div class="col-sm-4" sec:authorize="hasAnyRole('1','0')">
				<h3 class="text-dark">会員情報</h3>
				<p>会員情報の調べ、確認ことができます。</p>

				<a href="adminlist"><input type="button" value="こちらへ" id="bt"></a>

			</div>
		<div class="col-sm-4" sec:authorize="hasAnyRole('1','0')">
				<h3 class="text-dark">商品情報</h3>
				<p>商品情報の調べ、確認ことができます。</p>
				<a href="product"><input type="button" value="こちらへ" id="bt"></a>
		</div>
			<div class="col-sm-4" sec:authorize="hasAnyRole('1','0')">
				<h3 class="text-dark">カテゴリ情報</h3>
				<p>カテゴリ情報の調べ、確認ことができます。</p>
				<a href="kate"><input type="button" value="こちらへ"
					id="bt"></a>
			</div>
	</div>
	<br>
	<br>
	<div class="row" align="center">
		<div class="col-sm-4 space" sec:authorize="hasAnyRole('1','0')">
			<h3 class="text-dark">メーカー情報</h3>
			<p>メーカー情報の調べ、確認ことができます。</p>
			<a href="MakerList"><input type="button" value="こちらへ" id="bt"></a>
		</div>
	</div>




</body>
</html>