<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>商品変更画面</title>
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	 <script type="text/javascript">
        function notNull() {
            if (
                document.blog.product_imagefile.value.toString().trim().length <= 0) {
                  alert("画像を選択してください！");
                    return false;
                }else {
                  return true;
              }
         }
    </script>
</head>
<body>
	<div class="container-fluid">
		<div class="bg-primary" align="center">
			<h3>商品変更画面</h3>
		</div>
		<form action="/updateproduct" method="post" enctype="multipart/form-data" th:object="${ProductForm}" name="blog">
			<div align="center">
				<table class="table table-striped">

					<tr>
						<td>商品番号：</td>
						<td><input class="form-control" type="text" name="product_id"
							id="product_id" th:value="${product.product_id}"
							th:readonly="true" /></td>


						<td>商品名：</td>

						<td><input class="form-control" type="text"
							name="product_name" id="product_name"
							th:value="${product.product_name}" /></td>


					</tr>

					<tr>
						<td>商品コード：</td>

						<td><input class="form-control" type="text"
							name="product_code" id="product_code"
							th:value="${product.product_code}" /></td>


						<td>カテゴリID：</td>

						<td><input class="form-control" type="text"
							name="category_id" id="category_id"
							th:value="${product.category_id}" /></td>


					</tr>

					<tr>
						<td>メーカーID：</td>

						<td><input class="form-control" type="text"
							name="manufacture_id" id="manufacture_id"
							th:value="${product.manufacture_id}" /></td>



						<td>商品単価：</td>

						<td><input class="form-control" type="text"
							name="product_price" id="product_price"
							th:value="${product.product_price}" /></td>


					</tr>

					<tr>
						<td>在庫数目：</td>

						<td><input class="form-control" type="text"
							name="product_quantity" id="product_quantity"
							th:value="${product.product_quantity}" /></td>



						<td>商品詳細：</td>

						<td><input class="form-control" type="text"
							name="product_description" id="product_description"
							th:value="${product.product_description}" /></td>


					</tr>

					<tr>
						<td>商品イメージ：</td>
						<td> <input type="file" name="product_imagefile" accept="image/png, image/jpeg" /> </td>

						<td>表示状態：</td>

						<td><input class="form-control" type="text"
							name="publication_status" id="publication_status"
							th:value="${product.publication_status}" /></td>


					</tr>



					<tr>
						<td colspan="4" align="center"><input class="btn btn-success"
							type="submit" value="確定" onClick="return notNull()"/> <input class="btn btn-success"
							type="button" value="戻る"
							onClick="window.location.href='./product'"></td>
						<div class="text-right">
							<table>
								<tr th:inline="text" th:each="message : ${errorList}">
									<td><font color="red">[[${message.defaultMessage}]]</font></td>
								</tr>
								<tr>
									<td th:text="${message}" style="color: red;"></td>
								</tr>
							</table>
						</div>
					</tr>

				</table>
				<!-- 解决update权限不足问题 -->
				<!-- <input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" /> -->
			</div>
		</form>
	</div>
</body>
</html>