/*initial setup*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 20px;
    font-family: sans-serif,serif;
    font-weight: 300;
    color: #fff;
    text-rendering: optimizeLegibility;
    background-color: #fff;
}

/*reusable component*/
.row{
    width: 1140px;
    margin: 0 auto;
}

/*main*/


img{
    height: 150px;
    float: left;
    opacity: 0.7;
    transition: transform 0.3s,opacity 0.3s;
}


img:hover,
img:active{
    transform: scale(1.15);
    opacity: 1;
}


.system-name{
    display: inline-block;
    float: left;
}

.logo{
    display: inline-block;
    float:left;
}

h1{
    font-size: 300%;
}

h1:after{
    content: " ";
    display: block;
    height: 3px;
    width: 490px;
    background-color: #fff;
    margin: 0 auto;
}

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/co-worker-meeting.jpg);
    background-size: cover;
    background-position: center;
    display: block;
    height: 100vh;
}

.box{
    margin-top: 4%;
    width: 70%;
    margin-left: 5%;
    
}


.box div a{
    text-decoration: none;
    display: inline-block;
    height: 100px;
    width: 200px;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid #2980b9;
    transition: border 0.5s,background-color 0.5s;
    text-align: center;
}

.box div a:hover{
    background-color: #2980b9;
    border: 2px solid #2980b9;
}


p{
    display: inline-block;
    border-bottom: 2px solid transparent;
    margin-top: 5px;
    color: #fff;
    font-size: 100%;
    padding-bottom: 5px;
    transition: border-bottom 0.5s;
    
}

p:hover,
p:active{
    border-bottom: 2px solid #fff;
}

i{
    color: #fff;
    font-size: 150%;
    display: block;
}