<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="csrf-token"
	content="5aXRj36XqsUcb4HdfUPfO3AhMz4Hkt2MCLr7CH6g">

<title>ECサイト</title>

<link rel="dns-prefetch" href="//fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css?family=Nunito"
	rel="stylesheet">

<link href="./assets/front/css/app.css" rel="stylesheet">
<style>
.error-message {
	text-align: center;
	color: red;
	font-size: 14px;
}
</style>
</head>

<body>
	<div id="react-root">
		<div th:include="./front/header/header.html :: header"></div>
		<main class="main">
			<div class="container">
				<div class="justify-content-center row">
					<div class="col-md-8">
						<div class="card">
							<div class="card-header">ログイン</div>
							<div class="card-body">
								<form method="POST" action="./index2" th:object="${form}"
									id="login-form" class="">
									<input name="_token" type="hidden" class="form-control"
										value="nRyEkeIjUIgIDvqrRqK4nX9ExPgBZQhnNDQZMgB0">
									<div class="form-group">
										<span th:if="${session.message!=null}">
											<p class="error-message" th:text="${session.message}"></p> <br>
										</span> <span th:unless="${session.message!=null}">
											<p class="error-message" style="display: none;"></p>
										</span>
										<div class="row">
											<label
												class="col-md-4 col-form-label text-md-right form-label"
												for="email">メールアドレス</label>
											<div class="col-md-6">
												<input name="email" autocomplete="email" required=""
													type="email" id="email" class="form-control" value=""><span
													class="invalid-feedback" role="alert"><strong></strong></span>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<label
												class="col-md-4 col-form-label text-md-right form-label"
												for="password">パスワード</label>
											<div class="col-md-6">
												<input name="password" autocomplete="current-password"
													required type="password" id="password" class="form-control"
													pattern="[a-zA-Z0-9]{6,}" title="パスワードは6桁以上の英数字"><span
													class="invalid-feedback" role="alert"><strong></strong></span>
											</div>
										</div>
									</div>
									<script>
										function refreshCode() {
											let vcode = document
													.getElementById("vcode");
											vcode.src = "/getCaptchaImg?time="
													+ new Date().getTime();
										}
									</script>

									<div class="form-group">
										<div class="row">
											<label
												class="col-md-4 col-form-label text-md-right form-label"
												for="vcode">検証コード</label>
											<div class="col-md-6">
												<input name="verifycode" autocomplete="current-password"
													required="" type="text" id="verifycode"
													class="form-control" style="width: 70px"> <a
													href="javascript:refreshCode()"><img
													src="/getCaptchaImg" title="看不清点击刷新" id="vcode" /></a><span
													class="invalid-feedback" role="alert"><strong></strong></span>
											</div>
										</div>
									</div>

									<div class="text-center form-group mt-3 row">
										<div class="col">
											<div class="form-section" style="display: block;">
												<div class="checkbox-wrap">
													<label for="remember"> <input id="remember"
														name="remember" type="checkbox"
														class="form-check-input form-check-input"> <span>Remember
															Me</span></label>
												</div>
											</div>
										</div>
									</div>
							</div>
							<div class="form-group mt-3 row">
								<div class="text-center col">
									<button type="submit" class="btn btn-primary">ログイン
								</div>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
	</div>
	</main>
	<div th:include="./front/footer/footer.html :: footer"></div>
	</div>
	<script type="text/javascript" async=""
		src="https://www.gstatic.com/recaptcha/releases/4PnKmGB9wRHh1i04o7YUICeI/recaptcha__ja.js"
		crossorigin="anonymous"
		integrity="sha384-hYERk+tJc3CJWc9wELHq1Sl1Bq+uvdI7+rE4g62qO56Y3hIa+YhmFjVr2I2yvBGD"></script>
	<script>
		var laravelSession = {};
		laravelSession['status'] = '';
		laravelSession['resent'] = '';
		var laravelErrors = [];
	</script>
	<script src="./assets/front/js/app.js" defer=""></script>
	<script src="https://js.stripe.com/v3/"></script>
	<script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-app.js"></script>
	<script
		src="https://www.gstatic.com/firebasejs/8.4.1/firebase-analytics.js"></script>



	<iframe name="__privateStripeMetricsController0920" frameborder="0"
		allowtransparency="true" scrolling="no" role="presentation"
		allow="payment *"
		src="https://js.stripe.com/v3/m-outer-93afeeb17bc37e711759584dbfc50d47.html#url=https%3A%2F%2Flaraec.isystk.com%2Flogin&amp;title=LaraEC&amp;referrer=&amp;muid=b180e683-7123-4569-81c5-78422f08302fa34d58&amp;sid=8444d4ea-5190-47b7-9546-ab47a1dded86d0232a&amp;version=6&amp;preview=false"
		aria-hidden="true" tabindex="-1"
		style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; visibility: hidden !important; position: fixed !important; height: 1px !important; pointer-events: none !important; user-select: none !important;"></iframe>
	<script
		src="https://www.google.com/recaptcha/api.js?onload=onloadcallback&amp;render=explicit"
		async=""></script>
	<div
		style="background-color: rgb(255, 255, 255); border: 1px solid rgb(204, 204, 204); box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px; position: absolute; transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s; opacity: 0; visibility: hidden; z-index: 2000000000; left: 0px; top: -10000px;">
		<div
			style="width: 100%; height: 100%; position: fixed; top: 0px; left: 0px; z-index: 2000000000; background-color: rgb(255, 255, 255); opacity: 0.05;">
		</div>
		<div class="g-recaptcha-bubble-arrow"
			style="border: 11px solid transparent; width: 0px; height: 0px; position: absolute; pointer-events: none; margin-top: -11px; z-index: 2000000000;">
		</div>
		<div class="g-recaptcha-bubble-arrow"
			style="border: 10px solid transparent; width: 0px; height: 0px; position: absolute; pointer-events: none; margin-top: -10px; z-index: 2000000000;">
		</div>
		<div style="z-index: 2000000000; position: relative;">
			<iframe title="reCAPTCHA による確認は 2 分間有効です"
				src="https://www.google.com/recaptcha/api2/bframe?hl=ja&amp;v=4PnKmGB9wRHh1i04o7YUICeI&amp;k=6LcDorgaAAAAAGagnT3BKpmwmguuZjW4osBhamI3"
				name="c-j1cq115lebjp" frameborder="0" scrolling="no"
				sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"
				style="width: 100%; height: 100%;"></iframe>
		</div>
	</div>
</body>

</html>