<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>商品基本情報一覧</title>

<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
	<div class="bg-primary" align="center">
		<h3>商品基本情報一覧画面</h3>
	</div>
	<!-- 機能 -->

	<div class="row"  style="margin-top: 110px">
	<div >
	
	<input class="btn btn-primary" type="button" value="戻る" 
onclick="javascrtpt:window.location.href='menu.html'">

	</div>
	<div  align="right">
		
										<input class="btn btn-success" style="margin-right: 20px" type="button" value="新規商品登録" 
onclick="javascrtpt:window.location.href='goodsnew.html'">
	</div>
	</div>

	<div id="div" style="margin-left: 10px">
		<form action="search" method="get">
			<div class="form-group" style="margin-top: 30px">
				<div class="form-search">
				
<div class="form-search">
					<input type="text" class="form-search" name="keyword" id="txtname" placeholder="商品番号"
						th:value="${keyword}"><input class="btn btn-primary" type="button" value="検索" 
onclick="javascrtpt:window.location.href='goodslist.html'">
				</div>


				</div>
			</div>
		</form>
	</div>




	<!-- 社員リスト -->
	<div align="center" class="table-responsive">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th><div align="center">商品番号</div></th>
					<th><div align="center">商品名</div></th>
					<th><div align="center">商品コード</div></th>
					<th><div align="center">カテゴリID</div></th>
					<th><div align="center">メーカーID</div></th>
					<th><div align="center">商品単価</div></th>
					<th><div align="center">在庫数目</div></th>
					<th><div align="center">商品詳細</div></th>
					<th><div align="center">商品イメージ</div></th>
					<th><div align="center">表示状態</div></th>
					<th colspan="2"><div align="center">操作</div></th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="emp:${empList}" th:var="emp" bgcolor="white" class="y"
					th:if="${countEmployee}">
					<td>
					<form action="/toDetails">
							<div align="center">
						<input class="btn btn-primary" type="button" value="000001" 
onclick="javascrtpt:window.location.href='goodsinfo.html'">
							</div>
					</form>
					</td>
					<td><div align="center">商品AAA</div></td>
					<td><div align="center">000001</div></td>
					<td><div align="center">カテゴリAAA</div></td>
					<td><div align="center">メーカーAAA</div></td>
					<td><div align="center">88888</div></td>
					<td><div align="center">99999</div></td>
					<td><div align="center">商品詳細</div></td>
					<td><div align="center">商品イメージ</div></td>
					<td><div align="center">表示中</div></td>
					


					<!--変更-->
					<td>
						<form action="/toUpdate">
							<div align="center">
								<input class="btn btn-primary" type="button" value="編集" 
onclick="javascrtpt:window.location.href='goodschange.html'">
							
							</div>
						</form>
					</td>

					<td>
						<form action="delete">
							<div align="center">
								<input type="hidden" name="id" th:value="${emp.empCd}" /> <input
									class="btn btn-primary" type="submit" value="削除" onClick="return delete_confirm()" />
							</div>
						</form>
					</td>
				</tr>

			</tbody>
		</table>
	</div>

<div style="text-align:center; vertical-align:middel;">
		<form action="list" method="get">
			<p>
				商品数：<input text="　"/ >個
				<!-- 共<label th:text="${pageTotalNum}"></label> ページ　 -->　
				<!-- 毎ページ項目数： -->
				<input type="hidden" name="pageSize" th:value="${pageSize}" size="3"   >　　
				<!-- 現在ページ： -->
				<input type="hidden"
					name="pageNum" th:value="${pageNum}" size="3"   >
<!-- 					<!-- <input type="submit" value="ToGo" class="btn btn-primary" name="buttom"> -->
<!-- 					<input type="submit" value="前へ" class="btn btn-primary" name="buttom" >　<input -->
<!-- 					type="submit" value="次へ" class="btn btn-primary" name="buttom" > --> 
<input class="btn btn-primary" type="button" value="前へ" 
onclick="javascrtpt:window.location.href='goodslist.html'">
<input class="btn btn-primary" type="button" value="次へ" 
onclick="javascrtpt:window.location.href='goodslist.html'">

			</p>
		</form>
	</div>


	<script type="text/javascript">
		//削除確認メセージ
		function delete_confirm() {
			if (window.confirm('商品を削除します。よろしいですが？')) {
				//alert("確認");
				return true;
			} else {
				//alert("キャンセル");
				return false;
			}
		}
	</script>
</div>
</body>
</html>