<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="csrf-token"
	content="xg6VyN2iuqlOhUeYnx1CTDwvtVJiptZJ2q1x6Lap">

<title>お問い合わせ一覧｜LaraEC</title>

<script src="./assets/admin/js/app.js"></script>
<script src="./assets/admin/js/jquery-plugins.js"></script>
<script src="https://kit.fontawesome.com/b0a875bb13.js"
	crossorigin="anonymous"></script>
<link rel="dns-prefetch" href="//fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css?family=Nunito"
	rel="stylesheet">

<link href="./assets/admin/css/app.css" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini">
<div id="app" class="wrapper">
<div th:include="./admin/header/header.html :: header"></div>

		<div class="content-wrapper">
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1>お問い合わせ一覧</h1>
						</div>
						<div class="col-sm-6">
							<div class="content-header">
								<div class="container-fluid">
									<div class="row mb-2">
										<div class="col-sm-6"></div>
										<div class="col-sm-6">
											<ol class="breadcrumb float-sm-right">
												<li class="breadcrumb-item"><a href="./home"> HOME
												</a></li>
												<li class="breadcrumb-item active">お問い合わせ一覧</li>
											</ol>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">

							<div class="card card-purple">
								<div class="card-header">
									<h3 class="card-title">検索条件</h3>
								</div>
                                <form action="./contact_admin" method="GET" th:Object="${form}">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <div class="control-group" id="userName">
                                                <label class="col-sm-2 control-label">氏名</label>
                                                <div class="col-sm-4">
                                                    <input type="text" name="your_name" class="form-control" size="10"
                                                        maxlength="100" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer text-center">
                                        <button type="submit" class="btn btn-secondary">検索</button>
                                    </div>
                                </form>
							</div>
							<form action="./contact_admin" method="GET" id="pagingForm">
								<input type="hidden" name="search" value="">
							</form>
							<div class="row">
								<div class="col-12">
									<div class="card card-purple">
										<div class="card-header">
											<h3 class="card-title">検索結果</h3>
										</div>
										<div class="card-body table-responsive p-0">
											<table class="table table-hover">
												<thead>
													<tr>
														<th>ID</th>
														<th>氏名</th>
														<th>件名</th>
														<th>登録日時</th>
														<th></th>
													</tr>
												</thead>
												<tbody th:each="contact : ${contact}">
													<tr>
														<th th:text="${contact.id}"></th>
														<td th:text="${contact.your_name}"></td>
														<td th:text="${contact.title}"></td>
														<td th:text="${contact.created_at}"></td>
														<td><a th:href="@{'/contact_detail&'+${contact.id}}">詳細</a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="card-footer clearfix ">
											<nav>
												<ul class="pagination">
													<li class="page-item"
														th:classappend="${session.currentPage == 1 ? 'disabled' : ''}">
														<a class="page-link" th:href="@{?pageNumber=1}">«</a>
													</li>
													<li class="page-item"
														th:classappend="${session.currentPage == 1 ? 'disabled' : ''}">
														<a class="page-link"
														th:href="@{?pageNumber=__${session.currentPage - 1}__}"
														aria-label="Go to previous page">⟨</a>
													</li>
													<li class="page-item"
														th:classappend="${session.currentPage == 1 ? 'active' : ''}">
														<a class="page-link" th:href="@{?pageNumber=1}">1</a>
													</li>
													<li th:if="${session.totalPages > 1}"
														th:each="pageNum : ${#numbers.sequence(2, session.totalPages)}"
														class="page-item"
														th:classappend="${session.currentPage == pageNum ? 'active' : ''}">
														<a class="page-link"
														th:href="@{?pageNumber=__${pageNum}__}"
														th:text="${pageNum}"></a>
													</li>
													<li class="page-item"
														th:classappend="${session.currentPage == session.totalPages ? 'disabled' : ''}">
														<a class="page-link"
														th:href="@{?pageNumber=__${session.currentPage + 1}__}">⟩</a>
													</li>
													<li class="page-item"
														th:classappend="${session.currentPage == session.totalPages ? 'disabled' : ''}">
														<a class="page-link"
														th:href="@{?pageNumber=__${session.totalPages}__}">»</a>
													</li>
												</ul>
											</nav>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div th:include="./admin/footer/footer.html :: footer"></div>
	</div>
</body>

</html>