<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>カテゴリ情報詳細画面</title>
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
<div class="bg-primary" align="center">
        <h3>カテゴリ情報詳細画面</h3>
    </div>

<div align="center">
<table class="table table-striped">

<tr>
	<td>カテゴリID：</td>
	<td><label th:text="${empInfoDetails.empCd}" ></label> </td>

	<td>カテゴリ名：</td>
	<td><label th:text="${empInfoDetails.email}" ></label></td>

</tr>
<tr>
	<td>カテゴリ詳細：</td>
	<td><label th:text="${empInfoDetails.nameKanji}" ></label></td>

	<td>表示状態：</td>
	<td><label th:text="${empInfoDetails.nameKana}" ></label></td>
</tr>


<tr>
	 <td colspan="4" align="center">
    <input  class="btn btn-success" type="button" value="確定" onClick="window.location.href='kategprilist.html'"/>
    <input  class="btn btn-success" type="button"value="戻る" onClick="window.location.href='kategprilist.html'"></td>

	</td>
</tr>
   <!--  <a th:href="@{/{empCd}/toUpdate(empCd=${empInfoDetails.empCd})}"><input  class="btn btn-success" type="button" value="編集"/></a> -->




</table>
</div>



</div>
</body>
</html>