<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>カテゴリ情報一覧画面</title>

<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
	<div class="bg-primary" align="center">
		<h1>カテゴリ情報一覧画面</h1>
	</div>
	<!-- 機能 -->

	<div class="row"  style="margin-top: 110px">
	<div >
	<input class="btn btn-primary" value="戻る" size="3" style="margin-left: 20px" onclick="location.href='menu.html'">
	</div>
	<div  align="right">
		
				<input class="btn btn-success" style="margin-right: 20px" type="submit" value="新規カテゴリ登録" 
onclick="javascript:window.location.href='newkategori.html'"/>
		
	</div>
	</div>

	<div id="div" style="margin-left: 10px">
		<form action="search" method="get">
			<div class="form-group" style="margin-top: 30px">
				<div class="form-search">
					<input type="text" class="form-search" name="keyword" id="txtname" placeholder="カテゴリ名"
						th:value="${keyword}"><input type="submit" value="検索"
						class="btn btn-primary">
				</div>
			</div>
		</form>
	</div>




	<!-- カテゴリリスト -->
	<div align="center" class="table-responsive">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th><div align="center">カテゴリID</div></th>
					<th><div align="center">カテゴリ名</div></th>
					<th><div align="center">カテゴリ詳細</div></th>
					<th><div align="center">表示状態</div></th>

					<th colspan="2"><div align="center">操作</div></th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="emp:${empList}" th:var="emp" bgcolor="white" class="y"
					th:if="${countEmployee}">
					<td>
					<form action="/toDetails">
							<div align="center">
							<input type="hidden" name="id" th:value="${emp.getEmpCd()}" />
							<input class="btn btn-primary" type="button" value="000001" 
    onclick="javascript:window.location.href='admindetail.html'"/>
							</div>
					</form>
					</td>
					<td><div align="center">22gmail.com</div></td>
					<td><div align="center">222@softusing.com</div></td>
					<td><div align="center">林</div></td>

					<td>
						<form action="/toUpdate">
							<div align="center">
								<input type="hidden" name="id" th:value="${emp.empCd}" />
								<input class="btn btn-primary"type="button" value="編集"
    onclick="javascript:window.location.href='updatekategori.html'" />
							</div>
						</form>
					</td>



					<!--削除-->
					<td>
						<form action="delete">
							<div align="center">
								<input type="hidden" name="id" th:value="${emp.empCd}" /> <input
									class="btn btn-primary" type="submit" value="削除" onClick="return delete_confirm()" />
							</div>
						</form>
					</td>
				</tr>

			</tbody>
		</table>
	</div>

<div style="text-align:center; vertical-align:middel;">
		<form action="list" method="get">
			<p>
				カテゴリ数：<label th:text="${countEmployee}"></label>名　　
				共<label th:text="${pageTotalNum}"></label> ページ　　
				毎ページ項目数：<input type="text" name="pageSize" th:value="${pageSize}" size="3"   >　　
				現在ページ：<input type="text"
					name="pageNum" th:value="${pageNum}" size="3"   >
					<input type="submit" value="ToGo" class="btn btn-primary" name="buttom">　　
					<input type="submit" value="前へ" class="btn btn-primary" name="buttom" >　<input
					type="submit" value="次へ" class="btn btn-primary" name="buttom" >
			</p>
		</form>
	</div>


	<script type="text/javascript">
		//削除確認メセージ
		function delete_confirm() {
			if (window.confirm('項目を削除します。よろしいですが？')) {
				//alert("確認");
				return true;
			} else {
				//alert("キャンセル");
				return false;
			}
		}
	</script>
</div>
</body>
</html>