<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>営業対象詳細画面</title>
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
   <div class="bg-primary" align="center">
        <h3>営業対象詳細変更画面</h3>
   </div>
<div align="center">
<table class="table table-striped">
<tr>
	<td>社員番号：</td>
	<td><label th:text="${engineerListDetails.getEmpCd()}" ></label> </td>
	
	<td>姓名：</td>
	<td><label th:text="${engineerListDetails.getNameKanji()}" ></label> </td>

</tr>
<tr>
	<td>性別：</td>
	<td><label th:text="${engineerListDetails.getSex()}" ></label> </td>
	
	<td>最寄駅：</td>
	<td><label th:text="${engineerListDetails.getHomeStation()}" ></label> </td>
</tr>

<tr>
	<td>稼働開始日：</td>
	<td><label th:text="${#dates.format(engineerListDetails.getWorkingDate(), 'yyyy-MM-dd')}" ></label></td>
	
	<td>実務年数：</td>
	<td><label th:text="${engineerListDetails.getExperience()}" ></label> </td>
</tr>

<tr>
	<td>日本語：</td>
	<td><label th:text="${engineerListDetails.getJapanese()}" ></label> </td>
	
	<td>メイン言語：</td>
	<td><label th:text="${engineerListDetails.getTechlanguage()}" ></label> </td>
</tr>

<tr>
	<td>基本設計：</td>
	<td><label th:text="${engineerListDetails.getBasicDesign()}" ></label> </td>

	<td>詳細設計：</td>
	<td><label th:text="${engineerListDetails.getDetailDesign()}" ></label> </td>
</tr>

<tr>
	<td>製造：</td>
	<td><label th:text="${engineerListDetails.getProduce()}" ></label> </td>
	<td>テスト：</td>
	<td><label th:text="${engineerListDetails.getTest()}" ></label> </td>
</tr>

<tr>
	<td>現在現場：</td>
	<td><label th:text="${engineerListDetails.getProject()}" ></label> </td>
	<td>レベル：</td>
	<td><label th:text="${engineerListDetails.getLevel()}" ></label> </td>
</tr>

<tr>
	<td>新人：</td>
	<td><label th:text="${engineerListDetails.getNewEmployee()}" ></label> </td>
	<td>備考：</td>
	<td><label th:text="${engineerListDetails.getEngineerListComment()}" ></label> </td>
</tr>
<tr>
</tr>
<tr>
	<td colspan="4" align="center">
	<form action="/toEngineerListUpdate">
		<input type="hidden" name="id" th:value="${engineerListDetails.empCd}" /> 
		<input class="btn btn-success" type="submit" value="編集" />
		<input  class="btn btn-success" type="button" value="戻る" onClick="window.location.href='./engineerListList'">
	</form>
	
	</td>
</tr>
<!-- <tr>
	<td colspan="4" align="center">
	<a th:href="@{/{empCd}/engineerListUpdate(empCd=${engineerListDetails.getEmpCd()})}"><input class="btn btn-primary" type="button" value="編集"/></a>
    <input class="btn btn-success" type="button"value="戻る" onClick="window.location.href='/engineerListList'"></td>
	
</tr> -->

</table>
</div>
</div>
</body>
</html>