<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>人事基本情報表変更画面</title>
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container-fluid">
<div class="bg-primary" align="center">
        <h3>人事基本情報表変更画面</h3>
    </div>
<form action="/HumanResourceUpdate" method="post">
<div align="center">
<table class="table table-striped">


<tr>
	<td>社員番号：</td>
	<td><input class="form-control" type="text" name="empCd" id="empCd"  th:field="${HumanResource.empCd}" readonly/> </td>
	
	<td>基本給：</td>
	<td><input class="form-control" type="text" name="basicSalary" th:field="${HumanResource.basicSalary}" /></td>

</tr>
<tr>
	<td>月薪年回：</td>
	<td><input class="form-control" type="text" name="salaryTimes" th:field="${HumanResource.salaryTimes}" /></td>
	
	<td>保険標準：</td>
	<td><input class="form-control" type="text" name="insuranceLine" th:field="${HumanResource.insuranceLine}" /></td>
</tr>

<tr>
	<td>健康保険：</td>
	<td><input class="form-control" type="text" name="healthInsurance" th:field="${HumanResource.healthInsurance}" /></td>
	
	<td>厚生年金：</td>
	<td><input class="form-control" type="text" name="retirementPay" th:field="${HumanResource.retirementPay}" /></td>
</tr>

<tr>
	<td>介護保険：</td>
	<td><input class="form-control" type="text" name="diseaseInturance" th:field="${HumanResource.diseaseInturance}" /></td>
	
</tr>
<tr>
<td>備考：</td>
	<td colspan="4"><textarea class="form-control" style="height: 100px; width: 75%;"
							name="humanResourceComment" th:field="${HumanResource.humanResourceComment}"/></textarea><br></td>
</tr>
<tr>
	<td colspan="4" align="center">
    <input class="btn btn-success" type="submit" value="確定"/>
    <input class="btn btn-success" type="button"value="戻る" onClick="window.location.href='./humanResourceList'"></td>
	
</tr>

</table>
<input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}" />
</div>
</form>
</div>
</body>
</html>