<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>権限変更画面</title>
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
<div class="bg-primary" align="center">
        <h3>権限変更画面</h3>
    </div>
<form action="/loginUpdate" method="post">
<div align="center">
<table class="table table-striped">
<tr>
	<td>アカウント：</td>
	<td>
	<input class="form-control" type="text" name="account_id"   th:field="${loginInfo.account_id}"/> </td>

	<td>ロールID：</td>
	<td><input class="form-control" type="text" name="role_id" th:field="${loginInfo.role_id}" /></td>

</tr>
<tr>
	<td>パスワード：</td>
	<td><input class="form-control" type="text" name="password" th:field="${loginInfo.password}" /></td>

</tr>



<tr>
	<td colspan="4" align="center">
    <input class="btn btn-success" type="submit" value="確定"/>
    <input class="btn btn-success" type="button"value="戻る" onClick="window.location.href='./loginList'"></td>

</tr>

</table>
<input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}" />
</div>
</form>
</div>
</body>
</html>