<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>社員基本情報一覧</title>

<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
<div class="bg-primary" align="center">
		<h3>社内管理システム</h3>
	</div>
	<div class="row-fluid" align="center">
	<table>
			<tr th:inline="text" th:each="message : ${errorList}">
				<td style="color:pink">[[${message.defaultMessage}]]</td>
			</tr>
			<tr><td style="color:pink"><span th:text="${error}"></span></td></tr>
		</table>
		<div class="span12">
			<div class="row-fluid">
				<div class="span4">
				</div>
				<div class="span4">
					<form method="post" th:action="@{/userlogin}"  th:object="${UserForm}">
						<fieldset>
							<p>
								<em><span><span class="marker">ユーザ ID</span></span><br />
								<input class="btn btn-primary" type="text" name="accountId"
					placeholder="メールアドレスを入力してください" size="35" /></em>
							</p>
							<p>
								<span class="marker"><span>パスワード</span></span>
							</p>
							<p>
								<input class="btn btn-primary" type="password" name="password" 
					size="35" maxlength="6"/>
							</p>
							<p>
								<button class="btn" type="submit">ログイン</button>
							</p>
						</fieldset>
					</form>
				</div>
				<div class="span4">
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>