<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>年金国保詳細画面</title>
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
   <div class="bg-primary" align="center">
        <h3>年金国保詳細画面</h3>
   </div>
<body>
<div class="container-fluid">
	<div align="center">
		<table class="table table-striped">
			<tr>
			<td>社員番号：</td>
			<td><label th:text="${retailInfo.empCd}" ></label> </td>
		
			<td>加入状況：</td>
			<td><label th:text="${retailInfo.state}" ></label> </td>
			</tr>
			
		    <tr>
			<td>加入基準：</td>
			<td><label th:text="${retailInfo.insuranceLine}" ></label> </td>
		
			<td>申請日：</td>
			<td><label th:text="${#dates.format(retailInfo.applicationDate, 'yyyy-MM-dd')}" ></label> </td>
			</tr>

		    <tr>
			<td>取得年月日：</td>
			<td><label th:text="${#dates.format(retailInfo.startingDate, 'yyyy-MM-dd')}"></label> </td>
		
			<td>喪失年月日：</td>
			<td><label th:text="${#dates.format(retailInfo.quitDate, 'yyyy-MM-dd')}"></label> </td>
			</tr>
			
			<tr>
			<td>年金手帳：</td>
			<td><label th:text="${retailInfo.InturanceNote}"></label> </td>
		
			<td>健康保険：</td>
			<td><label th:text="${retailInfo.HealthInsurance}" ></label> </td>
			</tr>
			
			<tr>
			<td>備考/理由：</td>
			<td><label th:text="${retailInfo.retirementPayAndHealthInsuranceComment}"></label> </td>
			</tr>
			<tr>
			</tr>
			<tr>
			<td colspan="4" align="center">
			<form action="/toRetailUpdate">
				<input type="hidden" name="id" th:value="${retailInfo.empCd}" /> 
				<input class="btn btn-success" type="submit" value="編集" />
				<input  class="btn btn-success" type="button" value="戻る" onClick="window.location.href='./retailList'">
			</form>
	
			</td>
			</tr>
			<!-- <tr>
			<td colspan="4" align="center">
			<a th:href="@{/{empCd}/toRetailUpdate(empCd=${retailInfo.empCd})}"><input class="btn btn-primary" type="button" value="編集" /></a>
				<input class="btn btn-success" type="button" value="戻る" onClick="window.location.href='/retailList'">
			</tr> -->
		</table>
	</div>
</div>
</body>
</html>