<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>インポート結果一覧</title>
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="./css/newStyle.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
<div class="bg-primary" >
	<h3>インポート結果一覧</h3>
	</div>
	<div class="table-top">
	<span> 正常データ：<label th:text="${cnt}"></label>条 </span>
			&nbsp &nbsp
			&nbsp &nbsp
			<span> 異常データ：<label th:text="${wnt}"></label>条</span>

		<div class="importButton">
				<a href="/errorWorkInsuranceExport"><button type="button"
						class="btn btn-primary" th:if="${wnt}">エラーデータをダウンロード</button></a>
				<input class="btn btn-primary" value="戻る" size="3"
					onClick="window.location.href='./workInsuranceList'">
			</div>
	</div>
	<br/>
	<div align="center" class="table-responsive">
			<table class="table table-hover table-striped">
				<thead>
				<tr th:var="WorkInsyrance" th:if="${cnt}">
				<th><div align="center">社員番号</div></th>
		            <th><div align="center">名前（漢字）</div></th>
		            <th><div align="center">名前（カナ）</div></th>
		            <th><div align="center">加入状況</div></th>
		            <th><div align="center">給与</div></th>
		            <th><div align="center">申請日</div></th>
		            <th><div align="center">取得年月日</div></th>
		            <th><div align="center">喪失年月日</div></th>
		            <th><div align="center">被保険番号</div></th>
		            <th><div align="center">理由</div></th>
		            <th><div align="center">備考</div></th>
		            </tr>
	</thead>
				<tbody>
				<tr th:each="WorkInsurance:${importList}" th:var = "WorkInsurance"  class= "y"
				th:if="${cnt}">
	            	<td><div align="center">[[${WorkInsurance.getEmpCd()}]]</div></td>
	                <td><div align="center">[[${WorkInsurance.getNameKanji()}]]</div></td>
	                <td><div align="center">[[${WorkInsurance.getNameKana()}]]</div></td>
	                <td><div align="center">[[${WorkInsurance.getWorkInsuranceState()}]]</div></td>
	                <td><div align="center">[[${WorkInsurance.getSalary()}]]</div></td>
	                <td><div align="center">[[${#dates.format(WorkInsurance.getApplicationDate(),'yyyy-MM-dd')}]]</div></td>
	                <td><div align="center">[[${#dates.format(WorkInsurance.getStartingDate(),'yyyy-MM-dd')}]]</div></td>
	                <td><div align="center">[[${#dates.format(WorkInsurance.getQuitDate(),'yyyy-MM-dd')}]]</div></td>
	                <td><div align="center">[[${WorkInsurance.getWorkInsuranceNo()}]]</div></td>
	                <td><div align="center">[[${WorkInsurance.getReason()}]]</div></td>
	                <td><div align="center">[[${WorkInsurance.getWorkInsuranceComment()}]]</div></td>

					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>