<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>技術者稼働詳細画面</title>
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
   <div class="bg-primary" align="center">
        <h3>技術者稼働詳細画面</h3>
   </div>

<div align="center">
<table class="table table-striped">


<tr>
	<td>社員番号：</td>
	<td><label th:text="${WorkingStatusDetails.getEmpCd()}" ></label> </td>
	
	<td>姓名：</td>
	<td><label th:text="${WorkingStatusDetails.getNameKanji()}" ></label></td>

</tr>
<tr>
	<td>性別：</td>
	<td><label th:text="${WorkingStatusDetails.getSex()}" ></label></td>
	
	<td>所属：</td>
	<td><label th:text="${WorkingStatusDetails.getCompany()}" ></label></td>
</tr>

<tr>
	<td>連絡先：</td>
	<td><label th:text="${WorkingStatusDetails.getTelNo()}" ></label></td>
	
	<td>案件名：</td>
	<td><label th:text="${WorkingStatusDetails.getProjectName()}" ></label></td>
</tr>

<tr>
	<td>勤務地：</td>
	<td><label th:text="${WorkingStatusDetails.getProjectAddress()}"></label></td>
	
	<td>最寄り駅：</td>
	<td><label th:text="${WorkingStatusDetails.getProjectStation()}" ></label></td>
</tr>

<tr>
	<td>交通費：</td>
	<td><label th:text="${WorkingStatusDetails.getTransportationFee()}" ></label></td>

	<td>作業時間：</td>
	<td><label th:text="${WorkingStatusDetails.getWorkTime()}" ></label></td>
</tr>

<tr>
	<td>開始日：</td>
	<td><label th:text="${#dates.format(WorkingStatusDetails.getStartingDay(), 'yyyy-MM-dd')}" ></label></td>

	<td>終了予定日：</td>
	<td><label th:text="${#dates.format(WorkingStatusDetails.getEndingDay(), 'yyyy-MM-dd')}" ></label></td>
</tr>
<tr>
	<td>上限作業時間：</td>
	<td><label th:text="${WorkingStatusDetails.getMaxWorkTime()}" ></label></td>

	<td>下限作業時間：</td>
	<td><label th:text="${WorkingStatusDetails.getMinWorkTime()}" ></label></td>
</tr>
<tr>
	<td>精算有無：</td>
	<td><label th:text="${WorkingStatusDetails.getActuarial()}" ></label></td>

	<td>請求金額：</td>
	<td><label th:text="${WorkingStatusDetails.getRequestAmount()}" ></label></td>
</tr>
<tr>
	<td>契約先：</td>
	<td><label th:text="${WorkingStatusDetails.getContractCompanyAddress()}" ></label></td>

	<td>契約会社名：</td>
	<td><label th:text="${WorkingStatusDetails.getContractCompanyName()}" ></label></td>
</tr>
<tr>
	<td>業務担当部署：</td>
	<td><label th:text="${WorkingStatusDetails.getProjectDepartment()}" ></label></td>

	<td>連絡先担当者：</td>
	<td><label th:text="${WorkingStatusDetails.getProjecetLeader()}" ></label></td>
</tr>
<tr>
	<td>連絡先番号：</td>
	<td><label th:text="${WorkingStatusDetails.getProjectTelNo()}" ></label></td>

	<td>連絡先メールアドレス：</td>
	<td><label th:text="${WorkingStatusDetails.getProjectEmail()}" ></label></td>
</tr>
<tr>
	<td>契約条件：</td>
	<td><label th:text="${WorkingStatusDetails.getContractType()}" ></label></td>

	<td>支払条件：</td>
	<td><label th:text="${WorkingStatusDetails.getPaymentTerm()}" ></label></td>
</tr>
<tr>
	<td>本社担当者：</td>
	<td><label th:text="${WorkingStatusDetails.getCompanyLeader()}" ></label></td>

	<td>備考：</td>
	<td><label th:text="${WorkingStatusDetails.getWorkingStatusComment()}" ></label></td>
</tr>
<tr>
	<td colspan="4" align="center">
	<form action="/toWorkingStatusUpdate">
		<input type="hidden" name="id" th:value="${WorkingStatusDetails.empCd}" /> 
		<input class="btn btn-success" type="submit" value="編集" />
		<input  class="btn btn-success" type="button" value="戻る" onClick="window.location.href='./workingstatuslist'">
	</form>
	
	</td>
</tr>
<!-- <tr>
	<td colspan="4" align="center">
    <a th:href="@{/{empCd}/workingStatusUpdate(empCd=${WorkingStatusDetails.getEmpCd()})}"><input class="btn btn-primary" type="button" value="編集"/></a>
    <input class="btn btn-success" type="button" value="戻る" onClick="window.location.href='/workingstatuslist'"></td>
</tr> -->

</table>
</div>

</div>


</body>
</html>