<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>雇用保険加入喪失詳細画面</title>
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
   <div class="bg-primary" align="center">
        <h3>雇用保険加入喪失詳細画面</h3>
   </div>
<div align="center">
<table class="table table-striped">


<tr>
	<td>社員番号：</td>
	<td><label th:text="${WorkInsuranceDetails.getEmpCd()}" ></label> </td>
	
	<td>加入状況：</td>
	<td><label th:text="${WorkInsuranceDetails.getWorkInsuranceState()}" ></label></td>

</tr>
<tr>
	<td>姓名（漢字）：</td>
	<td><label th:text="${WorkInsuranceDetails.getNameKanji()}" ></label></td>
	
	<td>姓名（カナ）：</td>
	<td><label th:text="${WorkInsuranceDetails.getNameKana()}" ></label></td>
</tr>

<tr>
	<td>給与：</td>
	<td><label th:text="${WorkInsuranceDetails.getSalary()}" ></label></td>
	
	<td>申請日：</td>
	<td><label th:text="${#dates.format(WorkInsuranceDetails.getApplicationDate(), 'yyyy-MM-dd')}" ></label></td>
</tr>

<tr>
	<td>取得年月日：</td>
	<td><label th:text="${#dates.format(WorkInsuranceDetails.getStartingDate(), 'yyyy-MM-dd')}"></label></td>
	
	<td>喪失年月日：</td>
	<td><label th:text="${#dates.format(WorkInsuranceDetails.getQuitDate(), 'yyyy-MM-dd')}" ></label></td>
</tr>

<tr>
	<td>被保険番号：</td>
	<td><label th:text="${WorkInsuranceDetails.getWorkInsuranceNo()}" ></label></td>

	<td>理由：</td>
	<td><label th:text="${WorkInsuranceDetails.getReason()}" ></label></td>
</tr>

<tr>
	<td>備考：</td>
	<td><label th:text="${WorkInsuranceDetails.getWorkInsuranceComment()}" ></label></td>
</tr>

<tr>
	<td colspan="4" align="center">
	<form action="/toWorkInsuranceUpdate">
		<input type="hidden" name="id" th:value="${WorkInsuranceDetails.empCd}" /> 
		<input class="btn btn-success" type="submit" value="編集" />
		<input  class="btn btn-success" type="button" value="戻る" onClick="window.location.href='./workInsuranceList'">
	</form>
	
	</td>
</tr>
<!-- 
<tr>
	<td colspan="4" align="center">
    <a th:href="@{/{empCd}/workInsuranceUpdate(empCd=${WorkInsuranceDetails.getEmpCd()})}"><input class="btn btn-success" type="button" value="編集"/></a>
    <input class="btn btn-success" type="button" value="戻る" onClick="window.location.href='/workInsuranceList'">
	</td>
</tr> -->

</table>
</div>
</div>
</body>
</html>