<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>技術者稼働一覧</title>
<link rel="stylesheet"
	href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="./css/newStyle.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script
	src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="./js/script.js"></script>
	<script>
function fileCheck(){
	var file = document.getElementsByName('filename')[0].value;
	if(file.length>0){
		document.getElementById('importButton').disabled=false;
	}else{
		document.getElementById('importButton').disabled=true;
	}
}
</script>
</head>
<body>
<div class="container-fluid">
<div class="bg-primary" align="center">
	<h3>技術者稼働一覧</h3>
</div>

<!-- 機能 -->
	<div class="row" >
		<input class="btn btn-primary" value="戻る" size="3" style="margin-left: 20px" onclick="location.href='./menu'">
	</div>

	<div id="div" >
		<form action="WorkingStatus_search" method="get">
			<div class="form-group" style="margin-top: 30px">
				<div class="form-search">
					<input type="text" class="form-search" name="keyword" id="txtname"  placeholder="社員番号/名前"
						th:value="${keyword}"> <input type="submit" value="検索"
						class="btn btn-primary">

				</div>
			</div>
			</form>
			</div>

			<div class="text-right" >
				<table>
					<tr th:inline="text" th:each="message : ${errorList}">
						<td><font color="red">[[${message.defaultMessage}]]</font></td>
					</tr>
					<tr>
						<td th:text="${message}" style="color:red;"></td>
					</tr>
				</table>
				</div>
<!-- 		</form>
		<a href="/export"><button type="button" class="btn btn-primary">导出</button></a>

     <form class="form-horizontal"  action="workingstatuscsv"
    enctype="multipart/form-data" method="post">

        <button type="submit" class="btn btn-primary">导入</button>
  <input class="form-input" type="file" name="filename"></input>
  <input type ="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </form> -->

<!-- 	import export機能 -->
	<div class="export">
	<a href="/workingStatusExcelExport">
		<button type="button" class="btn btn-primary"  name = "workingStatus" th:if="${countEmployee}" >エクスポート</button>
		</a>

    <form class="form-horizontal" id="form_table" action="/workingStatusExcelImport" enctype="multipart/form-data" method="post" style="display:inline;">
        <button type="submit" class="btn btn-primary" id="importButton" disabled>インポート</button>
        <input class="form-input" type="file" name="filename" style="display:inline;"
        oninput="fileCheck()"
        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"></input>

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"  />
    </form>
	</div>
</div>
<div th:if="${message}">
	<h3 th:text="${message}"></h3>
</div>
	<!-- 社員リスト -->
<div align="center" class="table-responsive">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
				    <th><div align="center" >社員番号</div></th>
					<th><div align="center">名前</div></th>
					<th><div align="center">性別</div></th>
					<th><div align="center">所属</div></th>
					<th><div align="center">連絡先</div></th>
		            <th><div align="center">案件名</div></th>
		            <th><div align="center">勤務地</div></th>
		            <th><div align="center">最寄り駅</div></th>
		            <th><div align="center">交通費</div></th>

		            <th><div align="center">開始日</div></th>
		            <th><div align="center">終了予定日</div></th>
		            <th><div align="center">上限作業時間</div></th>
		            <th><div align="center">下限作業時間</div></th>
		            <th><div align="center">作業時間</div></th>
		            <th><div align="center">精算有無</div></th>
		             <th><div align="center">請求金額</div></th>
		            <th><div align="center">契約先</div></th>
		            <th><div align="center">契約会社名</div></th>
		            <th><div align="center">業務担当部署</div></th>
		            <th><div align="center">連絡先担当者</div></th>
		            <th><div align="center">連絡先番号</div></th>
		            <th><div align="center">連絡先メールアドレス</div></th>
		             <th><div align="center">契約条件</div></th>
		            <th><div align="center">支払条件</div></th>
		            <th><div align="center">本社担当者</div></th>
		            <th><div align="center">備考</div></th>

					<th colspan="2"><div align="center">操作</div></th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="WorkingStatus:${WorkingStatusList}"  bgcolor="white" class= "y"
				th:if="${countEmployee}">
	                <td>
					<form action="/toWorkingStatusDetails">
							<div align="center">
							<input type="hidden" name="id" th:value="${WorkingStatus.getEmpCd()}" />
							<input class="btn btn-primary" type="submit" th:value="${WorkingStatus.getEmpCd()}" />
							</div>
					</form>
					</td>
	                <!-- <td><a th:href="@{/{empCd}/WorkingStatustoDetails(empCd=${WorkingStatus.getEmpCd()})}"><div align="center">[[${WorkingStatus.getEmpCd()}]]</div></a></td> -->
	                <td><div align="center">[[${WorkingStatus.getNameKanji()}]]</div></td>
	                <td><div align="center">[[${WorkingStatus.getSex()}]]</div></td>
					<td><div align="center">[[${WorkingStatus.getCompany()}]]</div></td>
					<td><div align="center">[[${WorkingStatus.getTelNo()}]]</div></td>
	                <td><div align="center">[[${WorkingStatus.projectName}]]</div></td>
	                <td><div align="center">[[${WorkingStatus.projectAddress}]]</div></td>
	                <td><div align="center">[[${WorkingStatus.projectStation}]]</div></td>
	                <td><div align="center">[[${WorkingStatus.transportationFee}]]</div></td>

	                <td><div align="center">[[${#dates.format(WorkingStatus.startingDay,'yyyy-MM-dd')}]]</div></td>
	                <td><div align="center">[[${#dates.format(WorkingStatus.endingDay,'yyyy-MM-dd')}]]</div></td>


	                <td><div align="center">[[${WorkingStatus.maxWorkTime}]]</div></td>
	                <td><div align="center">[[${WorkingStatus.minWorkTime}]]</div></td>
	                <td><div align="center">[[${WorkingStatus.workTime}]]</div></td>
	                <td><div align="center">[[${WorkingStatus.actuarial}]]</div></td>
	                <td><div align="center">[[${WorkingStatus.requestAmount}]]</div></td>
	                <td><div align="center">[[${WorkingStatus.contractCompanyAddress}]]</div></td>
	                <td><div align="center">[[${WorkingStatus.contractCompanyName}]]</div></td>
	                <td><div align="center">[[${WorkingStatus.projectDepartment}]]</div></td>
	                <td><div align="center">[[${WorkingStatus.projecetLeader}]]</div></td>
	                <td><div align="center">[[${WorkingStatus.projectTelNo}]]</div></td>
	                <td><div align="center">[[${WorkingStatus.projectEmail}]]</div></td>

	               <td><div align="center">[[${WorkingStatus.contractType}]]</div></td>
	                <td><div align="center">[[${WorkingStatus.paymentTerm}]]</div></td>
	                <td><div align="center">[[${WorkingStatus.companyLeader}]]</div></td>
	                <td><div align="center">[[${WorkingStatus.workingStatusComment}]]</div></td>


					<!--変更-->
					<td>
						<form action="/toWorkingStatusUpdate">
							<div align="center">
								<input type="hidden" name="id" th:value="${WorkingStatus.empCd}" />
								<input class="btn btn-primary" type="submit" value="編集" />
							</div>
						</form>
					</td>
	<!-- <td>

	<div align="center">
	<a th:href="@{/{empCd}/workingStatusUpdate(empCd=${WorkingStatus.getEmpCd()})}"><input class="btn btn-primary" type="button" value="編集"/></a>
	</div>

	</td> -->
					<!--削除-->
	<td>
	<form action="WorkingStatus_delete">
	<div align="center">
	<input type="hidden" name="id" th:value="${WorkingStatus.getEmpCd()}" />
	<input class="btn btn-primary" type="submit" value="削除" onClick="return delete_confirm()"/>
	</div>
	</form>
	</td>
</tr>
</tbody>
</table>
</div>
	<!-- <div style="text-align:center; vertical-align:middel;">
		<form action="retailList" method="get">
			<p>
				社員数：<label th:text="${countEmployee}"></label>名　　 共<label
					th:text="${pageTotalNum}"></label> ページ　　 毎ページ項目数：<input type="text"
					name="pageSize" th:value="${pageSize}" size="3"   >　　現在ページ：<input type="text"
					name="pageNum" th:value="${pageNum}" size="3"   > <input
					type="submit" value="ToGo" class="btn btn-primary" name="buttom">　　<input
					type="submit" value="前へ" class="btn btn-primary" name="buttom" >　<input
					type="submit" value="次へ" class="btn btn-primary" name="buttom" >
			</p>
		</form>
	</div> -->
	<div style="text-align:center; vertical-align:middel;">
		<form action="workingstatuslist" method="get">
			<p>
				社員数：<label th:text="${countEmployee}"></label>名
				<!-- 共<label th:text="${pageTotalNum}"></label> ページ　 -->
				<!-- 毎ページ項目数： -->
				<input type="hidden" name="pageSize" th:value="${pageSize}">
				<!-- 現在ページ： -->
				<input type="hidden" name="pageNum" th:value="${pageNum}">
				<!-- <input type="submit" value="ToGo" class="btn btn-primary" name="buttom"> -->
				<input type="submit" value="前へ"
					class="btn btn-primary"	name="button"	th:unless="${firstPage}">
				 <input type="submit" value="次へ"
					class="btn btn-primary" name="button" th:unless="${lastPage}">
			</p>
		</form>
	</div>
<script type="text/javascript">
	//削除確認メセージ
	function delete_confirm(){
		if(window.confirm('項目を削除します。よろしいですが？')){
			//alert("確認");
    		return true;
		}else{
    		//alert("キャンセル");
    		return false;
		}
	}
</script>
</div>
</body>
</html>